{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-length": "short",
    "color-named": "never",
    "declaration-block-no-duplicate-properties": true,
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "selector-max-id": 2,
    "selector-not-notation": "simple",
    "shorthand-property-no-redundant-values": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "font-family-no-duplicate-names": true,
    "keyframes-name-pattern": null,
    "custom-property-pattern": null,
    "alpha-value-notation": "number",
    "hue-degree-notation": "angle",
    "color-function-notation": "modern"
  }
}
